In [3]:
def square(x):
    return x*x

print(square(5))

25

In [7]:
numbers = [1,2,3,5,6,7]

list(map(square, numbers))

[1, 4, 9, 25, 36, 49]

In [8]:
# Lambda fucntion
numbers = [1,2,3,5,6,7]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 25, 36, 49]

In [10]:
## Map multiple iterables

numbers1 = [1,2,3,4]
numbers2 = [4,5,6,6]

added_numbers= list(map(lambda x,y:x+y, numbers1, numbers2))
print(added_numbers)

[5, 7, 9, 10]

In [12]:
## map() convert a list of strings to integers
str_numbers = ['1','2','3','4']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3, 4]

In [14]:
## inbuilt functions
words = ['apple', 'banana', 'cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [16]:
def get_name(person):
    return person['name']

people = [
    {'name': 'Jack', 'age': 32},
    {'name': 'pratap', 'age': 45}
]

print(list(map(get_name, people)))

['Jack', 'pratap']