In [2]:
## Creating a tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [5]:
lst=list()
print(lst)
tpl=tuple()
print(tpl)

[]
()

In [6]:
numbers=tuple([1,2,3])
print(numbers)

(1, 2, 3)

In [8]:
mixed_tuple=(1,2,3,"Pratap","Kumar")
print(mixed_tuple)

(1, 2, 3, 'Pratap', 'Kumar')

In [9]:
## Accessing tuple elements
numbers= tuple([1,2,3])
print(numbers[0])

1

In [10]:
concat_tuple = numbers + mixed_tuple
print(concat_tuple)

(1, 2, 3, 1, 2, 3, 'Pratap', 'Kumar')

In [11]:
mixed_tuple = numbers + mixed_tuple
print(mixed_tuple)

(1, 2, 3, 1, 2, 3, 'Pratap', 'Kumar')

In [13]:
## Immutable Tuples
## Immutable Tuples are similar to Lists, except that they cannot be modified once created.
lst=[1,2,3,4,5]
print(lst)
lst[1]=34
print(lst)

[1, 2, 3, 4, 5]
[1, 34, 3, 4, 5]

In [14]:
numbers[2]=45

TypeError: 'tuple' object does not support item assignment

In [18]:
## Tuple methods
print(numbers.count(34))
print(numbers.index(2))

0
1

In [19]:
## packing and unpacking tuples
packed_tuple = 1, 2, 3
print(packed_tuple)

(1, 2, 3)

In [20]:
## Unpacking a tuple
packed_tuple = 1, 2, 3
a, b, c = packed_tuple
print(a, b, c)

1 2 3

In [21]:
## Unpacking with *
number = 1, 2, 3, 4, 5
a, b, *c = number
print(a, b, c)

1 2 [3, 4, 5]

In [22]:
## Nested tuples
lst = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for tup in lst:
    for num in tup:
        print(num)

1
2
3
4
5
6
7
8
9