In [1]:
## For loop
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [9]:
## Strings
str="Hello World"
print(str)
for i in str:
    print(i)

Hello World
H
e
l
l
o

W
o
r
l
d

In [10]:
## while loop
i=0
while i<10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [11]:
count=0
while count%2==0:
    print(count)
    count=count+1

0

In [12]:
## Loop control statements

## Break exits the loop prematurely

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [13]:
## Continue skips the current iteration
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
## pass
## The pass state is a null operation; nothing happens when it is executed.
for i in range(10):
    pass

In [17]:
## Nested Loops
for i in range(5):
    for j in range(5):
        print(f"{i} : {j}")

0 : 0
0 : 1
0 : 2
0 : 3
0 : 4
1 : 0
1 : 1
1 : 2
1 : 3
1 : 4
2 : 0
2 : 1
2 : 2
2 : 3
2 : 4
3 : 0
3 : 1
3 : 2
3 : 3
3 : 4
4 : 0
4 : 1
4 : 2
4 : 3
4 : 4

In [19]:
## Examples: Calculate the sum of first N natural numbers using a while and for loop
n =10
sum=0
count=1

while count<=n:
    sum=sum+count
    count=count+1

print(f"sum={sum}")

sum=55

In [20]:
n =10
sum=0
count=1

for i in range(1,n+1):
    sum=sum+i
print(f"sum={sum}")

sum=55

In [21]:
## Display the prime number between 1 and 100
for i in range(1,101):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99